/* navbar */
body {
  background-color: #e1eaea;
}

.thisrating {
  position: absolute;
  margin-left: 60em;
  margin-top: 10em;
}

.navbar-brand {
  float: left;
  height: 2em;
  padding: 0;
}
#image {
  border-radius: 55%;
  width: 40%;
  margin-left: 3em;
  margin-top: 1em;
  box-shadow: 10px 5px 5px grey;
}
#search {
  margin-left: 60em;
}
#form {
  margin-bottom: 3rem;
}
navbar-default {
  color: black;
}
.navbar {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2em;
}
.fa {
  font-size: 24px;
}
/* ////////////////// */
/* carousel-css */
.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.thumbnail {
  padding: 0;
  height: 500px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}
#slider-thumbs {
  height: 565px;
  overflow-y: scroll;
  white-space: nowrap;
  width: 170px;
}

.item {
  width: 30em;
}

.row {
  width: 40em;
}

.container {
  margin-top: 10em;
  margin-bottom: 20em;

  background-color: #e1eaea;
  border: 2px solid #e0e0e0;
}

/* #myWindow {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #e1eaea;
} */

/* #myContent {
  position: relative;
  display: flex;
  align-items: center;
} */

.carousel-inner {
  padding: 50px;
  transition: transform 0.2s;
  width: 600rem;
  margin: 0 auto;
}
.carousel-inner:hover {
  transform: scale(1.7);
}

#this {
  width: 55em;
  margin-right: 32em;
}

#link:active {
  text-decoration: underline;
  color: black;
}
#link:visited {
  text-decoration: underline;
  color: black;
}
#link {
  position: relative;
}
#productDetails {
  margin-top: 2em;
  padding: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200;400&family=Oswald:wght@200;700&display=swap");

#name {
  font-family: "Merriweather", serif;
  font-size: 45px;
}
#category {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
#price {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.dot {
  border-radius: 50%;

  background-color: grey;
  height: 7rem;
  width: 7rem;
}
.styledot {
  margin-top: 1em;
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
#boldstyle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
#stylething {
  margin-left: 0.8em;
  margin-top: 3em;
  font-family: "Roboto", sans-serif;
  font-weight: thin;
  font-size: 15px;
}

#mylink {
  margin-left: 9em;
}
